/Bastion.class
/Sickbay.class
/CultureVats.class
/StockExchange.class
/CargoBarge.class
/SupplyDepot.class
/LandingStrip.class
/SupplyDepot$1.class
/AuditOffice.class
/AuditOffice$1.class
/Holding.class
/HoldingExtra.class
/HoldingUpgrades.class
/Farming.class
/BotanicalStation.class
/Crop.class
/Plantation.class
/SeedTailoring.class
/Foundry.class
/Causeway.class
